.body_wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.body_wrapper > img {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
}

div {
    text-align: -webkit-center;
}
.body_wrapper > img {
    width: 100%;

}